
<div class="newborder p-4 rounded">
    <h1 class="text-center text-white">Students Details</h1>
    <a href="/users" class="btn btn-success p-3 m-5">Register a new Student</a>
    <a href="/users/details" class="btn btn-success p-3 m-5">Details of Students</a>
</div>